---
- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- name: Include OS-specific setup.
  include_tasks: "setup_{{ ansible_os_family }}.yml"

- name: Create cache root directory.
  file:
    path: "{{ conga_config.dispatcher.cache.rootPath }}"
    state: directory
    owner: "{{ apache_user }}"
    group: "{{ apache_group }}"
    mode: 0755

- name: Setup SSL if required by CONGA variant.
  include_tasks: setup_ssl.yml
  when:
    - "'ssl' in conga_variants"
    - not conga_aem_dispatcher_restricted_mode

# copy all config files but leave out distribution specific files
- name: Copy all CONGA files except vhosts and conf
  include_role:
    name: wcm_io_devops.conga_files
  vars:
    conga_files_base_path: "{{ apache_config_path }}"
    conga_files_handlers:
      - restart apache
    conga_files_files: "{{ conga_files_paths | select('match', '^(?!(vhosts|conf).d/)') | list }}"
    conga_files_directories: "{{ conga_directories | select('match', '^(?!(vhosts|conf).d)') | list }}"
    conga_files_owner: "{{ apache_config_owner }}"
    conga_files_group: "{{ apache_config_group }}"

- name: Enable CONGA sites.
  include_tasks: "enable_sites_{{ ansible_os_family }}.yml"
