- name: Copy SSL files.
  include_tasks: setup_ssl_files.yml
  with_items: "{{ conga_tenants }}"
  loop_control:
    loop_var: tenant
  when: not tenant.config.httpd.ssl.skipCopyCertificates | default(false)
